* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  // background-color:$bg-color;
}
ul {
    list-style: none;
}
// .container {
//     padding: 0;
// }
