// Text
@mixin text($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}

// Button
@mixin button($color, $fw, $bg-color, $border-color, $bg-color-hover) {
  color: $color;
  font-weight: $fw;
  background-color: $bg-color;
  border: 1px solid $border-color;
  &:hover {
    background-color: $bg-color-hover;
  }
}

@mixin buttonBorderColor {
  color: #007791;
  background-color: #fff;
  border: 1px solid #007791;
  font-weight: bold;
  border-radius: 2px;
}

// Position
@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin btn-secondary {
  color: #fff;
  background-color: #007791;
  border: 1px solid transparent;
  &:hover {
    background-color: #00576b;
  }
}


@mixin alignCenter {
  display: flex;
 align-items: center;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

@mixin sizeImg($w,$h) {
  width: $w;
  height: $h;
}
@mixin  borderColor($color) {
  border: 1px solid  $color ;
}

@mixin btn__default($bgcolor, $color, $border, $width, $height, $font-size) {
  background-color: $bgcolor;
  color: $color;
  border: $border;
  width: $width;
  height: $height;
  font-weight: bold;
  outline: none;
  font-size: $font-size;
  cursor: pointer;
  &:hover {
      opacity: .9;
  }
}