@mixin text($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}

@mixin button($color, $fw, $bg-color, $border-color, $bg-color-hover) {
  color: $color;
  font-weight: $fw;
  background-color: $bg-color;
  border: 1px solid $border-color;
  &:hover {
    background-color: $bg-color-hover;
  }
}

/*--------------------------
            BUTTON
 --------------------------*/
 @mixin btn__default($bgcolor, $color, $border, $width, $height, $font-size) {
  background-color: $bgcolor;
  color: $color;
  border: $border;
  width: $width;
  height: $height;
  font-weight: bold;
  outline: none;
  font-size: $font-size;
  cursor: pointer;
  &:hover {
      opacity: .9;
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    $value: map-get(
      $map: $breakpoints,
      $key: $breakpoint
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "breakpoints khong ton tai";
  }
}
