.btn--white {
  @include button(
    $color-black-0,
    $fw-bold,
    transparent,
    $color-white-0,
    $color-white-1
  );
  padding-top: 3px;
  margin: 0 10px;
  width: 100%;
  height: 36px;
  border-radius: 3px;
  outline: none;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.btn--red {
  @include button(
    $color-red-1,
    $fw-normal,
    transparent,
    $color-red-1,
    transparent
  );
  padding-top: 3px;
  margin: 0 10px;
  width: 100%;
  height: 36px;
  border-radius: 3px;
  outline: none;
  &:hover {
    opacity: 0.7;

    color: $color-red-1;
    text-decoration: none;
  }
}

.btn-red {
  @include button(
    $color-red-1,
    $fw-bold,
    transparent,
    $color-red-1,
    $color-white-1
  );

  padding: 10px 10px;
  height: 50px;
  border-radius: 3px;
}
