.wrapper__SmartBar {
  background: #f4c150;

  .wrapper__SmartBar__content {
    display: flex;
    justify-content: center;
    padding: 8px;
    position: relative;
    .SmartBar__text {
      .SmartBar__text--top {
        .text-bold {
          @include text(#29303b, 14px, 700);
        }
        .text-normal {
          @include text(#29303b, 14px, normal);
        }
      }
      .SmartBar__text--bot {
        @include text(#29303b, 18px, 700);
        text-align: center;
      }
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      img {
        width: 10px;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .wrapper__SmartBar {
    display: none;
  }
}
