.courseDetail-content {
  padding-top: 30px;
  .row {
    .content {
      .intro-title {
        align-items: center;
        .teacher {
          display: flex;
          width: 25%;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          .teacher-name {
            margin-left: 10px;
            div:first-child {
              @include text(#666, $fs-5, $fw-normal);
            }
          }
        }
        .category {
          width: 50%;
          padding-left: 3%;
          display: flex;
          span {
            @include text($color-blue, 3rem, $fw-normal);
          }
          .category__name {
            padding-left: 20px;
            div:first-child {
              @include text(#666, $fs-5, $fw-normal);
            }
          }
        }
        .rating {
          padding-left: 20px;
          width: 25%;
          i {
            color: $color-yellow;
          }
          p {
            color: #666;
          }
        }
      }
      .description {
        p {
          color: #666;
          margin-top: 2%;
        }
      }
      .knowledge {
        background-color: $color-gray-6;
        padding: 2%;
        border: 1px solid #dedfe0;
        font-size: 0.9rem;
        ul {
          list-style: none;
          li {
            padding-bottom: 2%;
            i {
              margin-right: 2%;
            }
          }
        }
      }
      .course__section {
        h5 {
          margin: 5% 0 3%;
          font-weight: $fw-bold-1;
        }
        .section {
          .section__item {
            .section__header {
              background: $color-gray-7;
              padding: 2%;
              font-size: 1.1rem;

              .Preview {
                background-color: $color-green-1;
                @include text($color-white-0, $fs-1, $fw-bold-1);
                padding: 5px;
                margin-left: 20px;
                border-radius: 5px;
              }
            }
            .section__entry {
              .gap {
                background-color: rgba(0, 0, 0, 0.015);
                padding: 2%;
              }
              .lesson {
                .lesson_content {
                  div {
                    padding: 10px 10px 10px 10px;
                    border-top: 1px solid rgba(0, 0, 0, 0.05);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                  }
                  ul {
                    list-style: none;
                    li {
                      position: relative;
                      padding: 2%;
                      cursor: pointer;
                      background-color: rgba(0, 0, 0, 0.015);
                      border-bottom: 1px solid $color-gray-7;
                      opacity: 0.7;
                      &:hover {
                        opacity: 1;
                      }
                      i {
                        @include text($color-blue, $fs-6, $fw-normal);
                        padding-right: 10px;
                      }
                      span {
                        position: absolute;
                        right: 2%;
                        top: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sidebar {
      .sidebar__info {
        box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
        margin-top: 3%;
        border-radius: 5px;
        padding: $pd-0;
        .info__img {
          position: relative;
          padding: $pd-0;
          width: 100%;
          cursor: pointer;
          img {
            @include sizeImg(100%, 250px);
          }

          .overplay {
            position: absolute;
            @include sizeImg(100%, 100%);
            top: 0;
            left: 0;
            .play {
              cursor: pointer;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              @include sizeImg(70px, 70px);
              border-radius: 50%;
              z-index: 99;
              background-color: black;
              background: url("https://www.udemy.com/staticx/udemy/js/webpack/icon-play.ac3f32ecb72a0c3f674fa5a3f3062a56.svg")
                no-repeat;
            }
            .wrapper__trainer {
              position: fixed;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba($color: #000000, $alpha: 0.8);
              z-index: 999;
              .wrapper__trainer__content {
                .trailer__title {
                  padding: 20px;
                  @include text($color-white-0, $fs-0 + 3, 500);
                  @include alignCenter();
                  justify-content: space-between;
                  background-color: #29303b;

                  .nameCourse {
                    white-space: pre-wrap;
                  }
                  i {
                    font-size: 22px;
                  }
                }
                @include center();
                .trailer {
                  width: 640px;
                }
              }
            }
          }
        }
        .info__inner {
          padding: 7%;
          .wishlist {
            @include alignCenter();
            justify-content: space-between;
            margin-bottom: 10%;
            .add__list {
              display: flex;
              align-items: center;
              width: 50%;
              .heart {
                cursor: pointer;
                text-align: center;
                @include sizeImg(30px, 30px);
                border-radius: 50%;
                border: 1px solid #aaa;
                @include text($color-red-5, $fs-2, $fw-normal);
              }
              span {
                @include text($color-gray-9, $fs-1, $fw-normal);
                padding-left: 5%;
              }
            }
            .price {
              font-family: "Raleway", sans-serif;
              @include text(#666, $fs-7, $fw-bold-1);
            }
          }
          .add,
          .buy {
            width: 100%;
            padding: 10px;
          }
          .add {
            border: none;
            background-color: $color-red-0 !important;
            margin-bottom: 3%;
            color: #fff;
            font-weight: 700;
            outline: none;
            &:hover {
              background-color: #992337 !important;
            }
          }

          .buy {
            color: #686f7a;
            background-color: #fff;
            border: 1px solid #686f7a;
            font-weight: 700;
            outline: none;
            &:hover {
              color: #000;
              border: 1px solid #000;
            }
          }
          .meta {
            list-style: none;
            li {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #dedfe0;
              padding: 7% 0;
              div {
                font-weight: normal;
                font-family: "Raleway", sans-serif;
                span {
                  @include text($color-black-0, $fs-2 - 1, $fw-bold);
                }
              }
              i {
                @include text($color-blue-2, $fs-7 - 0.5, $fw-normal);
              }
            }
          }
          .coupon {
            input {
              width: 100%;
              padding: 2% 0 2% 2%;
            }
          }
        }
      }
      .sidebar__try {
        @extend .sidebar__info;
        padding: 7%;
        h5 {
          font-weight: 700;
        }
        p {
          color: $color-gray-10;
        }
        a {
          text-decoration: none;
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
}
@media screen and (max-width: 375px) {
  .play {
    display: none;
  }
  .courseDetail-content {
    .row {
      flex-direction: column-reverse;
      .content {
       padding: 10px!important;
        margin-top: 10px;
        .content__title {
          h1 {
            font-size: 1.3rem;
          }
        }
        .intro-title {
          display: none;
        }
      }
      .sidebar {
        padding: 0;
      }
    }
  }

  .lesson_content {
    ul {
      li {
        span {
          display: none;
        }
      }
    }
  }
}
