.Course {
 
  .courses {
    .sort__filter {
      padding-top: 20px;
      .sort {
        span {
          border: 1px solid #666;
          padding: 10px;
          cursor: pointer;
          margin-right: 12px;
        }
        span.active {
          color: $color-blue-4;
          border-color: $color-blue-4;
        }
        .sort__select {
          border: 1px solid #666;
          padding: 0.7em;
          outline: none;
        }
      }
      .filter {
      @include alignCenter; 
        span:first-child {
          padding-right: 1.5rem !important;
          border-right: 1px solid #000;
        }
        span:last-child {
          padding-right: 1.5rem !important;
          padding-left: 1.5rem !important;
          color: red;
          cursor: pointer;
        }
      }
    }
    .sort__items {
      .wrapper__card {
        &:hover {
          box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
         
        }
       
       
        overflow: hidden;
        position: relative;
        border: .5px solid #000;
        border-radius: 8px;
        height: 100%;
        text-decoration: none;
        .card-img {
          width: 100%;
          height: 200px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .card-body,
        .button {
          padding: 10px 0;
          text-align: center;

          span {
            font-size: 20px;
            font-weight: bold;
            color: red;
            cursor: pointer;
          }
          .old__price {
            font-size: 15px;

            text-decoration: line-through;
            color: #aaaaaa;
          }
          .btn-addToCart {
            font-size: 30px;
          }
          .btn-goToCart {
            @extend .btn-addToCart;
          }
        }
        .card-body {
           min-height: 67px;
          .card-title {
            
            @include text($color-black, $fs-0, $fw-bold);
          }
        }

        .button {
          display: flex;
          justify-content: space-between;
          padding: 10px 10px;
        }

        .ratings {
          font-size: 20px;
          color: #ffce55;
        }
      }
    }
  }
  .pagi {
    margin-top: 2%;
    margin-bottom: 3%;
    .pagi__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      .pagi__item {
        text-align: center;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        color: #007791;
        font-weight: 700;
        background-color: #fff;
        cursor: pointer;

        transition: all 0.5s;
      }
      .pagi__item:first-child,
      .pagi__item:last-child {
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 50%;
        margin: 0 1%;
        background-color: #fff;
        border: 1px solid #007791;
        text-align: center;

        transition: all 0.5s;
        cursor: pointer;
        i {
          color: #40a0d2;
          font-size: 1rem;
        }
      }
      .active {
        color: #fff;
        background-color: #007791;
      }
    }
  }
}

@media screen and (max-width : 375px){
  .sort{
    display: flex;
  }

               
}
