.footer {
  border-bottom: 8px solid $color-red-0;
  .footer_top {
    padding: 50px 0;

    .footer__item {
      .fotter__list-item {
        .text-normal {
          text-decoration: none;
          @include text($color_medium_blue, $fs-1, $fw-normal);
        }
        .footer__text-bold {
          text-decoration: none;
          @include text($color-blue, $fs-1, $fw-bold);
        }
      }
    }
    .wrapper__btn {
      text-align: right;
      .wrapper__btn__content {
        border: 1px solid $color-gray-4;
        color: $color-gray-4;
        background-color: transparent;
        display: inline-block;
        width: 160px;
        height: 37px;
        .box__globe {
          @include alignCenter;
          line-height: 37px;
          padding: 0 10px;
          justify-content: space-between;
        }

        &:hover {
          border: 1px solid #000;
          color: #000;
        }
      }
    }
  }
  .footer_bot {
    padding: 40px 0;
    .footer__bot--left {
      .footer_img {
        width: 15%;
        margin-right: $mg-2;
      }
      .Copyright {
        align-self: center;
        @include text($color-gray-4, $fs-1, $fw-normal);
      }
    }
    .footer__bot--right {
      display: flex;
      justify-content: flex-end;
      .footer_bot_info {
        a {
          text-decoration: none;
          @include text($color_medium_blue, $fs-1, $fw-normal);
        }
      }
    }
  }
}


@media only screen and (max-width: 600px){
  .footer_top {
    text-align: center;
    .wrapper__btn {
      text-align: center!important;
    }
  }
  .Copyright{
    display: block;
    text-align: center;
  }
  .footer_bot {
    .footer_img {
      display: none;
    }
    .footer__bot--left{
      padding-top: 10px;
      justify-content: center !important;
    }
    .footer__bot--right {
      padding-top: 10px;
      justify-content: center !important;
    }
  }
}
