.footer {
  border-bottom: 8px solid $color-red-0;
  .footer_top {
    padding: 50px 0;

    .fotter__list-item {
      .text-normal {
        text-decoration: none;
        @include text($color_medium_blue, $fs-1, $fw-normal);
      }
      .footer__text-bold {
        text-decoration: none;
        @include text($color-blue, $fs-1, $fw-bold);
      }
    }
  }
  .footer_bot {
    padding: 40px 0;
    .footer__bot--left {
      .footer_img {
        width: 15%;
        margin-right: $mg-2;
      }
      .Copyright {
        align-self: center;
        @include text($color-gray-4, $fs-1, $fw-normal);
      }
    }
    .footer__bot--right {
      .footer_bot_info {
        a {
          text-decoration: none;
          @include text($color_medium_blue, $fs-1, $fw-normal);
        }
      }
    }
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
}
@media screen and (max-width: 740px) {
  .footer_top {
    text-align: center;
    .wrapper__btn {
      text-align: center;
    }
  }
}
