.header {
  z-index: 9999;
  background-color: $color-white-0;
  transition: all ease 0.3s;
  box-shadow: 0 0 15px #d1d1d1;
  padding: 10px 0;
  
  width: 100%;

  .header__content {
    .header-image {
      font-family: 'Orbitron', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      color: red;
      font-size: 15px;
      font-weight: bold;
      img {
        width: 50%;
        text-align: center;

      }
      
    }
    .header-control {
      .input-search {
        background-color: $color-white-1;
        margin-left: 50px;
        padding: 3% !important;
        width: 100%;
        height: 38px;
        padding: 0 5px;
        border: none;
        outline: none;
      }
      .btn-search {
        height: 38px;
        background-color: #df322f;
        width: 40px;
        box-shadow: none;
        border-radius: 4px !important;
        border: none;
        outline: none;

        i {
          color: white;
        }
      }
      width: 80%;

      display: flex;
      align-items: center;
    }
    .header-card,
    .header-user {
      @extend .header-control;
    }
    .header-card {
      display: flex;
      justify-content: center;
      i {
        margin: 0 30px;
      }
    }
    .header-user {
      text-align: center;
    }
  }
}
