.header {
  background-color: rgb(255, 255, 255);
  transition: all ease 0.3s;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  max-width: 100%;
  .header__content {
    height: 60px;
    @include alignCenter;

    .header__left {
      width: 50%;
      @include alignCenter;
      .header-image {
        font-size: 15px;
        font-weight: bold;

        img {
          width: 103px;
        }
      }
      .header-control {
        flex: 1;
      }
    }

    .header__right {
      width: 50%;
      display: flex;
      .header-card,
      .header-user {
        display: flex;
        justify-content: flex-end;
        @extend .header-control;
      }
      .header-card {
        padding-left: 25px;

        &:hover {
          .header-items {
            display: block;
          }
        }
        display: flex;

        i {
          color: $color_black;
          margin: 0 30px;
        }

        .header__card__noti {
          position: relative;
          cursor: pointer;
          margin: 0 10px;
          &:hover {
            .header__items {
              display: block;
            }
          }

          .icon__noti {
            font-size: 20px;
          }

          .badge__length {
            font-size: 12px;
            font-weight: 700;
            position: absolute;
            top: -10px;
            right: 15px;
            background: #d41701;
            color: $color-white-0;
            height: 20px;
            line-height: 20px;
            width: 20px;
            overflow: hidden;
            text-align: center;
            white-space: normal;
            border-radius: 50%;
          }

          .header__items {
            box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
            width: 330px;
            background-color: $color-white-0;
            position: absolute;
            top: calc(100% + 42%);
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 3;
            display: none;
            &::before {
              content: "";
              top: -16px;
              left: 0;
              right: 0;
              position: absolute;
              height: 20px;
            }
            .header__item__content {
              overflow-y: auto;
              max-height: 270px;

              .heade__item {
                &:hover {
                  background-color: #f2f3f5;
                }
                cursor: pointer;
                display: flex;
                padding: 10px 10px;
                max-height: 300px;
                .header-img {
                  width: 30%;
                  img {
                    width: 60px;
                    height: 60px;
                  }
                }

                .header-content {
                  width: 70%;
                  p {
                    color: $color-gray-4;
                    margin: 0;
                  }
                  .name {
                    @include text($color_black, $fs-1, 700);
                  }
                  .info {
                    font-size: $fs-1;
                  }
                  .price {
                    @include text($color_red, $fs-1 + 5, 700);

                    .price-old {
                      @include text($color_black, $fs-1 + 3, normal);

                      text-decoration: line-through;
                      margin-left: 10px;
                    }
                  }
                  .button__addToCart {
                    @include borderColor($color_medium_blue);
                    color: $color_medium_blue;
                    background-color: $color-white-0;

                    padding: 2px 8px;
                    font-size: 13px;
                    line-height: 1.35135;
                    border-radius: 2px;
                    width: 100%;
                    &:hover {
                      border: 1px solid $color_black;
                    }
                  }
                }
              }
            }
            .btn__goToWistlist {
              padding: 20px;
              margin-top: 10px;
              background-color: #f2f3f5;
              .btn__goToWistlist__button__price {
                @include text($color-gray-4, $fs-1 + 1, $fw-normal);

                .price__new {
                  @include text($color-black-0, $fs-0 + 5, $fw-bold-1);
                }
                .price__old {
                  margin-left: 10px;
                  text-decoration: line-through;
                }
              }
              .btn__goToWistlist__button {
                background-color: $color_medium_blue;
                color: $color-white-0;
                border: none;
                outline: none;
                width: 100%;
                padding: 12px;
                &:hover {
                  background-color: #00576b;
                }
              }
            }

            &:after {
              border-style: solid;
              border-width: 0 10px 13px;
              content: "" !important;
              height: 0;
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              width: 0;
              border-color: transparent transparent $color-white-0 transparent;
              top: -12px;
            }

            // noti
            .notify {
              color: $color-gray-4;
              .notify__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0px;
                border-bottom: 1px solid rgba(222, 223, 224, 0.45);
                .text-notify {
                  padding-left: 10px;
                  @include text($color-black-0, $fs-0, $fw-normal);
                }
                .icon__noti {
                  @include text($color-gray-4, $fs-0, $fw-normal);
                }
              }
              .notify__body {
                text-align: center;
                padding: 25px;
              }
            }
          }
        }
      }
      .header-user {
        text-align: center;
        .button__login {
          padding: 8px;
          text-decoration: none;
          margin-right: 10px;
          @include button(
            $color-gray-4,
            $fw-bold-1,
            $color_white,
            $color-gray-4,
            $color-white-0
          );
          &:hover {
            color: $color-black-0;
            background-color: $color-white-0;
            border-color: $color-black-0;
          }
        }
        .button__signup {
          padding: 8px;
          text-decoration: none;
          @include button(
            $color-white-0,
            $fw-bold-1,
            $color-red-0,
            $color-red-0,
            $color_red-6
          );
        }
      }

      .customer-menu {
        width: 40%;
        @include alignCenter;
        cursor: pointer;
        position: relative;
        padding: 5px 5px;
        justify-content: center;

        &:hover {
          background-color: #f4f7f8;
        }

        .customer-name {
          @include alignCenter;
          justify-content: center;

          img {
            border-radius: 50%;
            @include sizeImg(30px, 30px);
            margin-right: 6px;
            color: #464646;
          }
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            width: 125px;
            font-size: 15px;
          }
        }
      }

      .dropdown-menu {
        @include position(absolute, 150% !important, 50% !important);
        border: 0;
        transform: translate(-50%, 0) !important;
        width: 300px;

        .menu__item {
          color: $color-black-0 !important;
          cursor: pointer;
          font-size: $fs-1 + 3;
          padding: 15px 15px;
          &:hover {
            color: $color-blue;
            background: $color-white-cream;
          }
        }
        .wrapper__eduma {
          padding: 15px 15px;
          .eduma__for__business___teach {
            padding: 10px 10px;
            margin-top: 5px;
            background-color: #f2f3f5;
            .eduma__for__business___teach--title {
              @include text($color-gray-4, $fs-0, $fw-normal);
            }

            .eduma__for__business___teach--body {
              @include text($color-gray-4, $fs-1, $fw-normal);
            }
          }
        }

        .menu__item__user {
          @include alignCenter;
          .menu__item-img {
            @include sizeImg(46px, 46px);

            border-radius: 50%;
          }
          .menu__item-info {
            padding-left: $pd-0;
            .menu__item-info__name {
              font-size: $fs-1 + 1;
            }
            .menu__item-info__email {
              color: $color-gray-4;
              font-size: $fs-1;
            }
          }
        }

        &::before {
          left: 50%;
          transform: translateX(-50%);
          border: 6px solid;
          border-color: transparent transparent $color-white-0;
          z-index: 99;
          content: "";
          display: block;
          position: absolute;
          top: -14px !important;
        }
      }
    }

    .icon__menu,
    .search__mobile {
      display: none;
    }

    @keyframes showNavbarMobile {
      from {
        left: -100%;
      }
      to {
        left: 0;
      }
    }
  }
  .overPlay {
    position: fixed;
    top: 0;

    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    z-index: 9;
    background: rgba(30, 30, 28, 0.8);
    .closeSideBarMenu {
      position: absolute;
      width: 50px;
      height: 50px;
      @include sizeImg(50px, 50px);
      background-color: #fff;
      border-radius: 50%;
      top: 2%;
      left: 80%;
      z-index: 99;
      animation: scalecloseSideBarMenu ease 400ms;
      .closeSideBarMenu__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-gray-4;
        font-size: 20px;
      }
    }

    @keyframes scalecloseSideBarMenu {
      from {
        transform: scale(0);
        visibility: hidden;
      }
      to {
        transform: scale(1);
        visibility: visible;
      }
    }
  }
  .MobileCart {
    position: relative;
    display: none;
    margin-left: 20%;
    .icon_cart {
      @include text($color-gray-4, $fs-0 + 5, $fw-bold-1);
    }
    .cart__total {
      position: absolute;
      @include text($color-white-0, $fs-1, $fw-bold-1);
      @include alignCenter;
      @include sizeImg(2%, 2%);

      justify-content: center;
      top: -6px;
      right: -75%;
      background-color: $color-red-0;
      padding: 10px;
      border-radius: 50%;
    }
  }
}

@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 600px) {
  .header {
    .header__content {
      position: relative;
      padding: 15px;

      box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
        0 3px 1px 0 rgba(20, 23, 28, 0.1);
      .header__left {
        .header-control {
          display: none;
        }
        .header-image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .header__right {
        display: none;
      }
      .search__mobile {
        margin-left: 20px;
        font-size: 20px;
      }
      .icon__menu {
        width: 10%;
        display: block;
        text-align: center;
        font-size: 25px;
      }

      .search__mobolle__show__onClick,
      .search__mobile,
      .MobileCart {
        display: block;
      }
    }
  }
}
