.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  top: 0;
  transition: all ease 0.3s;
  box-shadow: 0 0 15px #d1d1d1;
  padding: 10px 0;
  height: 60px;

  .header__content {
    .header__left {
      align-items: center;
      .header-image {
        font-family: "Orbitron", sans-serif;
        display: block;
        color: red;
        font-size: 15px;
        font-weight: bold;
        img {
          width: 103px;
        }
      }
    }

    .header__right {
      .header-card,
      .header-user {
        @extend .header-control;
      }
      .header-card {
        &:hover {
          .header-cart-items {
            display: block;
          }
        }
        display: flex;
        justify-content: center;
        i {
          color: black;
          margin: 0 30px;
        }

        .alert-cart {
          position: relative;
          cursor: pointer;

          span {
            position: absolute;
            top: -11px;
            right: 9px;
            background: #d41701;
            color: #fff;
            height: 17px;
            line-height: 17px;
            border-radius: 2px;

            margin: 3px 0 0;

            width: 22px;
            overflow: hidden;
            padding: 0 3px;
            text-align: center;
            white-space: normal;

            border-radius: 5px;
            font-size: 12px;
            font-weight: 700;
          }

          .header-cart-items {
            box-shadow: -2px 3px 21px -4px rgba(0, 0, 0, 0.75);
            width: 300px;
            border-radius: 10px;
            padding: 10px 10px;
            background-color: #fff;
            position: absolute;
            top: 117%;
            left: -145%;
            z-index: 99;
            display: none;
            animation: headercart ease-in 0.1s;

            .header-item {
              cursor: pointer;
              margin: 7px 0;
              padding: 10px 10px;

              .header-img {
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .header-content {
                p {
                  color: #464646;
                  font-weight: 600;
                  margin: 0;
                }
              }

              &:hover {
                background-color: rgb(238, 241, 242);
              }
            }

            &:before {
              position: absolute;
              content: "";
              width: 15px;
              height: 15px;
              top: -2%;
              right: 47%;
              background: #fff;

              transform: rotate(45deg);
              border-right: none;
              border-bottom: none;
              z-index: 99;
            }
          }

          @keyframes headercart {
            from {
              transform: scale(0);
            }

            to {
              transform: scale(1);
            }
          }

          &:hover {
            .header-cart-items {
              display: block;
            }
          }
        }
      }
      .header-user {
        text-align: center;
      }
    }
    .menu__bar {
      display: none;
    }

    .customer-menu {
      display: flex;
      align-items: center;
      &:hover {
        background-color: #f4f7f8;
      }
      cursor: pointer;
      position: relative;
      width: 50%;
      padding: 5px 5px;
      .customer-name {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          margin-right: 6px;
          color: #464646;
        }
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          width: 125px;
          font-size: 15px;
        }
      }
    }

    .dropdown-menu {
      width: 200px;
      border-radius: 7px;
      border: 0;
      margin-top: 17px;
      line-height: 24px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
      text-align: left;

      background: #fff;

      margin-top: 4px;
      min-width: 100%;
      z-index: 100;
      box-sizing: border-box;

      position: absolute;
      top: 25px !important;
      &:focus {
        outline: none;
      }

      .drop-item {
        text-align: center;
        display: block;
        width: 100%;
        padding: 17px 10px;
        clear: both;
        font-weight: 400;
        color: #212529;

        background-color: transparent;
        border: 0;
        &:hover {
          color: red;
          background-color: $color-gray-12;
          a {
            color: red;
          }
        }
        a {
          text-decoration: none;
          color: #464646;
        }
      }
    }
    .dropdown-menu::before {
      left: 50%;
      transform: translateX(-50%);
      border: 6px solid;
      border-color: transparent transparent #fff;
      z-index: 99;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      width: 0;
      top: -14px !important;
    }
  }
}

// Tablet
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .header__content {
    .row {
      .header__left {
      }
      .header__right {
        display: none !important;
      }
      .menu__bar {
        display: block;
        text-align: right;
        align-items: center;
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}
