.WrapperLinkBar {
  background-color: #f7f8fa;
  border-bottom: 1px solid$color-gray-7;
  margin-top: 3px;
  position: relative;
  @media screen and (max-width: 740px) {
    display: none;
  }
  @media only screen and (min-width: 740px) and (max-width: 1024px) {
    display: none;
  }

  .linkBarList {
    .linkBarList__item {
      cursor: pointer;
      @include alignCenter;
      &:hover {
        background-color: #e8e9eb;
      }

      text-align: center;
      padding: 10px 10px;
      justify-content: center;
      @include text($color-gray-4, 12px, normal);
      .item__icon {
        margin-right: 5px;
      }
      .linkBarList__item__img {
        width: 15px;
        margin-right: 5px;
      }
    }
  }
}
