.header-control {
  display: flex;
  align-items: center;
  flex: 1;
  .form {
    flex: 1;
    .search__input {
      border: none;
      background-color: $bg-color;
      margin-left: 35px;
      padding: 0 14px;
      outline: none;
      width: 100%;
    }
    position: relative;
    .search__input:focus ~ .search__result {
      width: 100%;
      background-color: #fff;
      border: none;
      outline: none;
      visibility: visible;

      .search__form {
        visibility: visible;
        opacity: 1;
      }
    }
    .search__result {
      color: black;
      position: absolute;
      top: 100%;
      left: 0%;
      width: 100%;
      z-index: 2;

      .search__form {
        background-color: #fff;
        position: absolute;
        top: 20%;
        left: 30px;
        max-height: 300px;
        overflow-y: auto;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        opacity: 0;
        transition: 0.5s;
        text-align: left;
        z-index: 2;

        .search__form__item {
          width: 100%;
          height: 100px;

          display: flex;
          font-weight: 700;
          margin-bottom: 5%;
          padding: 1% 2%;
          border-bottom: 1px solid $color-gray-12;
          .search__img {
            width: 40%;
            height: 100px;
            img {
              width: 100%;
              height: 80%;
            }
          }
          .form__info {
            text-decoration: none;
            width: 60%;
            margin-left: 3%;
            height: 50px;
            h6 {
              font-size: 0.9rem;
              font-weight: 700;
            }
            p {
              font-size: 0.8rem;
              color: #666;
              font-weight: 400;
            }
          }
        }
      }
    }
    .search__result.hiddenForm {
      display: none;
    }
    .btn-search {
      height: 38px;
      background-color: #df322f;
      width: 40px;
      box-shadow: none;
      border-radius: 4px !important;
      border: none;
      outline: none;

      i {
        color: white;
      }
    }
  }
}
