.TopSelling {
  padding: 20px;
  .title {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.47em;
    color: #505763;
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .title {
    display: none;
  }
}
@media only screen and (max-width: 740px)  {
  .TopSelling {
    padding-top: 10px;
    background-color: #fff;
    .title {
      display: none;
    }
  }
}
