.user {
  color: #000;
  padding: 50px;
  .user__category {
    text-align: center;
    .user__avatar {
      max-width: 100%;
    }
    .user__info {
      h5 {
        margin-top: 20px;
        @include text($color-gray-11, $fs-6, $fw-bold-1);
      }
      p {
        @include text($color-gray-11, $fs-8 - 0.2, $fw-bold-1);
      }
    }
    .user__edit {
      .btn-profile {
        margin-bottom: 10px;
        background: $color-blue-3;
        width: 70%;
        height: 60px;
        border-radius: 50px;
        border: none;
        color: $color-white-0 !important ;
        font-size: 20px;
        font-weight: bold;
      }
      .edit__profile {
        text-align: left;
        width: 40%;
        margin: 0 auto 8%;
        cursor: pointer;
        @include text($color-gray-10, $fs-0, $fw-normal);
        &:hover,
        &.active {
          color: $color-yellow;
        }
      }
    }
  }
  .user__course {
    .my__profile {
      .user__title {
        display: flex;
        justify-content: space-between;
        h1 {
          width: 60%;
          font-weight: 700;
          font-size: 3rem;
          padding-bottom: 3%;
          border-bottom: 1px solid #e1e2e4;
        }
        .social {
          text-align: right;
          width: 40%;
          i {
            font-size: 1.3rem;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 50%;
            margin-right: 3%;
            color: #fff;
            border: 1px solid transparent;
          }
          .fa-facebook {
            background-color: #3b5999;
          }
          .fa-twitter {
            background-color: #55acee;
          }
          .fa-instagram {
            background-color: #bd081c;
          }
        }
      }
      .user__bio,
      .user__course {
        padding: 3% 0;
        border-bottom: 1px solid #e1e2e4;
        h3 {
          @include text($color-gray-11, normal, $fw-bold-1);
        }
        h6 {
          @include text($color-gray-10, $fs-8 - 0.2, $fw-bold-1);
        }
      }
      .user__course {
        border-bottom: none;
        .nav-pills {
          li {
            width: 25%;
            background-color: #e1e2e4;
            text-align: center;
            .nav-link {
              color: #666;
              font-weight: 700;
              font-size: 1.1rem;
              border: none;
              padding: 8% 0;
            }
            .active {
              border-top: 2px solid #2abfd4;
              background-color: #fff;
            }
          }
        }
        .tab-content {
          .active {
            .table {
              tr {
                td {
                  span {
                    font-weight: 700;
                    font-size: 1.2rem;
                  }
                  .lnr-checkmark-circle {
                    color: #28b52e;
                  }
                  .lnr-cross {
                    color: red;
                  }
                }
              }
            }
            .order {
              border: 1px solid #e1e2e4;
              margin: 10px 0;
              display: flex;
              padding: 3%;
              justify-content: space-between;
              align-items: center;
              .order__id {
                @include text($color-blue, $fs-6, $fw-normal);
              }
              .order__Pending {
                color: $color-red-0;
              }
              .order__success {
                color: #28b52e;
              }
            }
          }
          button {
            margin: 3% 0;
            background-color: #ec5252;
            color: #fff;
            border: none;
            width: 20%;
            height: 40px;
            font-weight: 700;
            outline: none;
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  .certificates {
    h1 {
      @include text($color-black-0, $fs-9, $fw-bold-1);
      width: 60%;
      border-bottom: 1px solid $color-gray-12;
      padding-bottom: 3%;
    }
    .certificate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3%;
      border: 1px solid $color-gray-12;
      margin-bottom: 2%;
      font-size: 0.9rem;
      font-weight: bold;
      div:last-child {
        color: $color-blue-3;
      }
    }
    #cer {
      background-color: $color-gray-12;

      div:last-child {
        color: #000;
      }
    }
  }
  .acount {
    h1 {
      @include text($color-black-0, $fs-9, $fw-bold-1);
      width: 60%;
      border-bottom: 1px solid $color-gray-12;
      padding-bottom: 3%;
    }
    form {
      .email {
        padding: 3% 0;
        h4 {
          span {
            font-weight: bold;
          }
        }
      }
      .password {
        lable {
          display: inline-block;
          margin-bottom: 0.5rem;
        }
        input {
          display: block;
          margin-bottom: 2%;
          width: 60%;
          padding: 1%;
        }
      }
      .change__pass {
        margin-top: 2%;
        background-color: #ec5252;
        color: #fff;
        border: none;
        width: 20%;
        height: 40px;
        font-weight: 700;
        outline: none;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
  .edit__profile {
    label {
      @include text($color-black-0, $fs-0, $fw-bold-1);
    }
    input {
      outline: none;
      width: 100%;
      transition: all ease 0.5s;
      padding: 2%;
      background-color: $color-gray-12;
      border: none;
      margin: 10px 0;
      &:focus {
        background-color: #fff;
        border: 1px solid $color-gray-12;
      }
    }
    h1 {
      @include text($color-black-0, $fs-9, $fw-bold-1);
      width: 60%;
      border-bottom: 1px solid $color-gray-12;
      padding-bottom: 3%;
    }
    .change__profile {
      margin-top: 2%;
      background-color: #ec5252;
      color: #fff;
      border: none;
      width: 20%;
      height: 40px;
      font-weight: 700;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}


