.warpper__welcome {
  padding: 20px;
  .warpper__welcome__content {
    padding: 0;
    .welcomeBanner {
      .welcomeBanner_content {
        position: relative;
        margin-bottom: 25px;

        .welcomeBanner__text {
          position: absolute;
          top: 50%;
          left: 30%;
          transform: translate(-50%, -50%);

          .banner-title {
            @include text($color-white-0, 40px, 700);
          }
          .banner-sub {
            @include text($color-white-0, 18px, 700);
          }
        }
      }
    }
    .headerTitle {
      padding: 0 15px;
      font-size: 24px;
      font-weight: bold;
    }
    .welcome__ready {
      margin-top: 10px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      .ready {
        font-weight: normal;
        font-size: 18px;
      }
      .myCourses {
        cursor: pointer;
        @include text($color-blue, 18px, normal);
        &:hover {
          color: #000;
        }
      }
    }

    .wrapper__welcome__body {
      .welcome__body__item {
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
          0 3px 1px 0 rgba(20, 23, 28, 0.1);
        display: flex;
        .welcome__img__course {
          .courseImg {
            width: 222px;
          }
        }
        .welcome__right__content {
          padding: 10px;
          .des {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 50px;
          }
          .courseTime {
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
  }
}
