.warpper__welcome {
  padding-bottom: 10px;
  .warpper__welcome__content {
    padding: 0;
    .welcomeBanner {
      .welcomeBanner_content {
        position: relative;
        margin-bottom: 25px;

        .welcomeBanner__text {
          position: absolute;
          top: 50%;
          left: 30%;
          transform: translate(-50%, -50%);

          .banner-title {
            @include text($color-white-0, 40px, 700);
          }
          .banner-sub {
            @include text($color-white-0, 18px, 700);
          }
        }
      }
    }
    .headerTitle {
      padding: 0 15px;
      font-size: 24px;
      font-weight: bold;
    }
    .welcome__ready {
      padding: 18px 15px;
      display: flex;
      justify-content: space-between;
      .ready {
        color: #505763;
        font-weight: normal;
        font-size: 18px;
      }
      .myCourses {
        cursor: pointer;
        @include text($color-blue, 18px, normal);
        &:hover {
          color: #000;
        }
      }
    }

    .wrapper__welcome__body {
      .welcome__body__item {
        box-shadow: 0 0 1px 1px rgba(59, 105, 185, 0.1),
          0 3px 1px 0 rgba(20, 23, 28, 0.1);

        .welcome__body__item__content {
          display: flex;
          cursor: pointer;

          .welcome__img__course {
            position: relative;

            .courseImg {
              width: 250px;
              height: 158px;
            }

            .play {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include sizeImg(60px, 60px);
              background: url("https://www.udemy.com/staticx/udemy/js/webpack/icon-play.ac3f32ecb72a0c3f674fa5a3f3062a56.svg")
                no-repeat;
            }
            .trailer {
              position: fixed;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              z-index: 9;
              animation: showClose ease 0.5s;
              background-color: rgba($color: #000000, $alpha: 0.6);
              .trailer__content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .close {
                position: absolute;
                top: -5%;
                right: -2%;
                animation: showClose ease 0.5s;
                i {
                  color: #fff;
                  font-size: 30px;
                }
              }

              @keyframes showClose {
                from {
                  transform: scale(0);
                }
                to {
                  transform: scale(1);
                }
              }
            }
          }
          .welcome__right__content {
            padding: 10px;
            .des {
              font-size: 16px;

              font-weight: bold;
              margin-bottom: 50px;
            }
            .courseTime {
              font-size: 12px;
              margin: 0;
            }
          }
        }

        .progress {
          height: 8px;
          background-color: #f2f3f5;
          border-radius: 0;
          .progressbar {
            background-color: #76c5d6;
            width: 12%;
          }
        }

        &:hover {
          box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
        }
      }
    }
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .welcomeBanner__text {
    left: 35% !important;
    .banner-title {
      font-size: 1.5rem !important;
    }
    .banner-sub {
      font-size: 20px;
    }
  }
  .welcome__body__item {
    margin: 10px 0;

    .courseImg {
      max-width: 150px;
      height: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .welcomeBanner__text {
    .banner-title {
      font-size: 1rem !important;
    }
    .banner-sub {
      display: none;
    }
  }
  .welcome__body__item {
    margin: 10px 0;

    .courseImg {
      max-width: 150px;

      height: 100%;
    }
  }
}
